<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:p="http://www.springframework.org/schema/p"
	 xmlns:util="http://www.springframework.org/schema/util"
	 xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/util
	 http://www.springframework.org/schema/util/spring-util.xsd">
	 
	 <!-- this is our beans -->
 	<!-- Value as Tag -->
 	
 	<!-- To use @Component Annotation in our class we need to config this in our XML file  -->
 	
 	<util:list list-class="java.util.LinkedList" id="addr">
 		<value>DEL</value>
 		<value>BLR</value>
 		<value>UP</value>
 		<value>HR</value>
 	</util:list>
 	
 	<context:component-scan base-package="com.springcore.stereotype"></context:component-scan>

	<bean class="com.springcore.stereotype.Teacher" name="t1" p:name="Sunita" scope="prototype">
	</bean>
 
 
 </beans>